
html {
    position: relative;
    min-height: 100%;
  }
  
body {
    font-family: 'Gotham';
        background-image: url("./images/paper.png");

  }
#calculatorContainer {
  /* IN CASE I WANT TO CUT THE WIDTH AND CENTER */
  /* display: flex;
  align-items: center;
  justify-content: center;
  width:50%; */

  background-color: white;
  border-style: solid;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 10px 5px 20px 2px lightslategrey;
}
#resetButton {
    margin-bottom: 0px;
    float: right;
}

.btn {
    border: 2px solid black;
    color: #ffffff;
    background-color: #22B2C5;
    margin: 20px;
  margin:20px;
}

#buttonGroup {
  text-align: center;
}

#uploadFileGroup {
  text-align: center;
}

#WolframAlphaInputText {
  width:50%;
  margin: auto;
}

#choiceMadeGroup {
  /* margin-left: 45%; */
  text-align: center;
}

#resultsContainer {
    text-align: center;
    border: 2px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}
label {
    margin-top: 1%;
}

hr {
  border-top: 1px solid black;
}

img {
  margin-top: 20px;
}
  
#chooseFileButton {
  margin: auto;
}

